body {
  overflow-x: hidden;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #da766e;
  transform-style: preserve-3d;
  perspective: 1px;
  perspective-origin: 50% 50%;
  overflow: hidden;
}

#bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateZ(10px);
  background-image: url(./assets/bg.png);
  background-position: center;
  width: 80vw;
  height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
}

#fg {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%) translateZ(20px);
  background-image: url(./assets/fg.png);
  background-position: center;
  width: 80vw;
  height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
}

#rabbit {
  position: absolute;
  left: 60%;
  bottom: 0;
  transform: translate(-50%, 100%) translateZ(25px);
  background-image: url(./assets/rabbit.png);
  background-position: center;
  width: 40vw;
  height: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

#pig {
  position: absolute;
  left: 25%;
  bottom: 5%;
  transform: translate(-100%, 0%) translateZ(25px);
  background-image: url(./assets/pig.png);
  background-position: center;
  width: 50vw;
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

#sonic {
  position: absolute;
  right: -20%;
  top: 20%;
  transform: translate(0%, 0%) translateZ(15px);
  background-image: url(./assets/sonic.png);
  background-position: center;
  width: 10vw;
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

#eva {
  position: absolute;
  right: -20%;
  top: 20%;
  transform: translate(60%, 100%) translateZ(15px) scale(1.5);
  background-image: url(./assets/eva.png);
  background-position: center;
  width: 10vw;
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.8s;
}

#star {
  position: absolute;
  right: -20%;
  top: 20%;
  transform: translate(0%, 230%) translateZ(20px);
  background-image: url(./assets/Patrick_Star.svg);
  background-position: center;
  width: 10vw;
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s;
}

#envelope {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 120vh;
  background-color: #feccc1;
  overflow: hidden;
}

.p{
  background-color: #f5deb3;
  background-position: 0 0;
  transform: rotate(-20deg);
  width: 30vw;
  height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1;
}

.p:hover, .active{
  transform: rotate(0deg) scale(1.2);
  width: 100vw;
  z-index: 10;
}

#p1 {margin-left: 10vw;
  background-image: url(./assets/p1.png);
}

#p2 {
  background-image: url(./assets/p2.png);
}

#p3 {
  margin-right: 10vw;
  background-image: url(./assets/p3.png);
}

#va {
  position: relative;
  width: 100vw;
  background-color: black;
}

video {
  width: 90vw;
  margin-left: 5vw;
  position: sticky;
  top: 0;
}

#lyric {
  position: relative;
  margin-top: 20vw;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/lyric.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
}

#end {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/end.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
}